@font-face{
	src:url(fonts/Lato-Regular.ttf);
	font-family: "Lato";
}

/*@import url(https://fonts.googleapis.com/css?family=Lato);*/

body{
	font-family: "Lato";
	background:#fdf7ef;
  text-align: justify;
}

.navbar-fixed-top{
  /*height: 1.4em;*/
  background: #8E1B1B;
  
}
.navbar-nav .open .dropdown-menu>li>a,
.navbar-nav>.open>a{
  color: white ;
  background-color: transparent;
}

.navbar-toggle .icon-bar{
  background-color: white !important;
}

.navbar-toggle:hover>.icon-bar{
  background-color: #8E1B1B !important;
}

.navbar-toggle:hover{
  background-color: white !important;
}

.navbar-fixed-top li a{
  color: rgb(255, 255, 255);
}

.ontop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  z-index: 99999;
  pointer-events:none;
  color: rgb(255, 255, 255);
  background: rgba(0,0,0,0.7);
}

.mid{
  text-align: center;
  margin-top: 23%;
  font-size: 2.5em;
  font-weight: bold;
}

.mid h1{
  font-size: 2.5em;
  font-weight: bold;
}

.circle {
margin-left: auto;
margin-right: auto;
border-radius: 50%;
width: 100%;
position: relative;
}

.circle-border {
border: 1px solid black;
}

.circle-solid{
background-color: #8E1B1B;
}

.circle:before {
content: "";
display: block;
padding-top: 100%;
}

.circle-inner {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
text-align: center;
}

.score-text {
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
height: 1.5em;
line-height: 1.5em;
font-size: 1.5em;
}

.circle-outer{
	width: 200px;
}

.push{
	left: 0;
}

button.circle{
	background-position: 25%;
	border: none;
	color: rgb(255, 255, 255)
}

p.score-text {
	font-size: 0.4em;
}


.club_wrapper{
	text-align: center;
}

.club_wrapper h4 {
  opacity: 0.5;
	font-weight: bold;
	color: #8E1B1B;
}

@media (min-width:  1000px) {
	.push{
		left: 12.5%;
	}
}

.img-wrapper{
  border-radius: 50%;
  overflow:hidden;
  width: 140px;
}

ul.dropdown-menu{
  background:#8E1B1B;
  color: white;
  border-radius: 0;
}

.dropdown-menu>li:hover,
.dropdown-menu>li>a:hover{
  color: #DFCE06 !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
  background: #8E1B1B;
  color: #DFCE06;
}

@media (max-width: 767px){
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: white;
  }
  .mid>h1{
    font-size: 2em;
  }
  .mid{
    font-size: 1.6em;
    margin-top: 45%;
  }
}