<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Aero-Modelling Club</title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Navbar starts -->
    <div class="container" style="z-index: 999999;position: relative;">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SnTC</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-right nav">
              <li><a href="#">IIT(BHU),Varanasi</a></li>
              <li><a href="#">Gymkhana</a></li>
              <li><a href="#">SnTC</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- navbar ends -->

    <!-- Carousel -->
    <div class="wrapper_slider">
      <div class="outer">
        <div class="ontop">
          <div class="mid">
            <h1>Aero-Modelling Club</h1>
            <!-- <div id="bar">
                (optional text)
            </div> -->
          </div>
        </div>
      
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
            <li data-target="#myCarousel" data-slide-to="7"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="first-slide" src="static/css/images/aero_1.jpg" alt="First slide">
              <div class="container">
                <!-- <div class="carousel-caption">
                  <h1>Example headline.</h1>
                  <p class="lead">Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                  <p class="lead"><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div> -->
              </div>
            </div>
            <div class="item">
              <img class="second-slide" src="static/css/images/aero_2.jpg" alt="Second slide">
              <div class="container">
                
              </div>
            </div>
            <div class="item">
              <img class="third-slide" src="static/css/images/aero_3.jpg" alt="Third slide">
              <div class="container">
                
              </div>
            </div>

            <div class="item">
              <img class="third-slide" src="static/css/images/aero_4.jpg" alt="Third slide">
              <div class="container">
                
              </div>
            </div>

            <div class="item">
              <img class="third-slide" src="static/css/images/aero_5.jpg" alt="Third slide">
              <div class="container">
                
              </div>
            </div>

            <div class="item">
              <img class="third-slide" src="static/css/images/aero_6.jpg" alt="Third slide">
              <div class="container">
                
              </div>
            </div>

            <div class="item">
              <img class="third-slide" src="static/css/images/aero_7.jpg" alt="Third slide">
              <div class="container">
                
              </div>
            </div>

            <div class="item">
              <img class="third-slide" src="static/css/images/aero_8.jpg" alt="Third slide">
              <div class="container">
                
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <!-- carousel ends -->

    



    <!-- intro starts -->
    <div class="container marketing">
       <div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">About Us</h2>
          <p class="lead"><p class="lead">The Aeromodelling Club at IIT (BHU), Varanasi was primarily started three years ago. The club has been running successfully since then and has expanded exponentially with each progressing year.</p>
<p class="lead">So far, many new, innovative and exciting models have been constructed and have seen successful flights, some of which include, IC-RC Plane, Autonomous Quadcopter, Tricopter, Hovercraft, and much more. That excludes the regular, yet critical models: Water Rocket, Glider, and RC Plane. </p>
<p class="lead">The club readily captures the attention of the newcomers who are enthusiastically receptive to the activities. Moreover, the club also organizes various welcome events such as Water Rocket Pro and Glider Competition, which witness mass participation from first-year students.  
The club also boasts about conducting four major events in the annual technical festival of the college (Technex): </p>
<p class="lead">Momentum (Water Rocket) </p>
<p class="lead">La Trajectoire (RC Electric Plane) </p>
<p class="lead">De Aeroglisseur (Hovercraft) </p>
<p class="lead">Drone-Tech (Multirotor) </p>
<p class="lead">An Airshow is organized each year by the club in the memory of Prof. </p><p class="lead">Veer Bhadra Mishra in which both external and internal flyers present their best models and flying skills. </p>
</p>
        </div>
        
      </div> 

      <!-- <hr class="featurette-divider"> -->

<div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Vision</h2>
          <p class="lead"> In the previous years, the members of the club have gained experience in the field and also have worked on various basic models. They have also participated in various national level inter-college competitions. </p>

<p class="lead"> However, it is time to take it to the next step. We will aim to improve drastically and bring out improvements in the technical knowledge as well as further polish up the flying skills. To meet international aeromodelling standards, it is required to ensure that the models which the students work on are not just some ‘make and do' ones, but rather designed correctly, studied and then brought out in results that fly with perfection. </p>

<p class="lead"> We will also be trying to introduce some new types of models in the club like helicopters in the upcoming session.
Our participation so far has been woefully limited to national level competitions. Therefore, we intend to participate on an international scale sending out our most sophisticated equipment and the best amongst the flyers. </p>

<p class="lead"> Apart from this, one of the most fundamental requirement of the club is the active participation of the first year students. To ensure this, we plan to work further on our workshop presentations, making them more practical, and therefore more enjoyable. </p>

        </div>
        
      </div>

      

<div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Achievements</h2>
          <ul class="lead">
            <li>Organized spectacular Airshows for three consecutive years: 2014, 2015 and 2016.</li>
            <li> Participated and won at technical festivals of IIT Bombay, IIT Roorkee, and IIT Kanpur.</li>
            <li>Successfully completed a project on Solar Plane.</li>
            <li>Successfully built and taken flights of Tricopter, and Autonomous quadcopter.</li>
            <li>Also completed works on racing quadcopter fully equipped with FPV System.</li>
            <li>Designed, built and taken flights of the first ever IC RC Plane in the college.</li>

          </ul>
        </div>
</div>
 
<div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Year-wise Activities</h2>
          <ul class="lead">
            <li>At the beginning of the session, Workshops are conducted on basic aeromodelling: Water Rocket, Glider, and RC Plane.</li>
            <li>The club organises pre-technex events: Water Rocket Pro, Glider Fabrication.</li>
            <li>Mentoring of students on fabrication and flying/operating of electric RC planes, Quadcopter, Hovercraft.</li>
            <li>An official Contingent of the club participates in inter IIT technical fests: Techfest, Techkriti, and Cognizance.</li>
            <li>The club organized four events in the Institute's techno-management fest, Technex, which witnessed active participation from external and internal teams.</li>
            <li>The Club also organized its annual Airshow in memory of Prof. Veer Bhadra Mishra.</li>
          </ul>
        </div>
      </div>





      <!-- <div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Recent Activities</h2>
          <ul>
            <li><p class="lead">Fabrication of Solar Plane</p></li>
            <li><p class="lead">Air Show'15</p></li>
            <li><p class="lead">La-Trajectoire(A RC Plane competition in Technex'15)</p></li>
            <li><p class="lead">Momentum(A water rocket event in Technex'15)</p></li>
          </ul>
          
        </div>
        
      </div> -->

      <!--<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Aero-modelling Club</h2>
          <p class="lead">We give wings to your dreams (without Red Bull). Quadcopters, remote controlled planes, water rockets, you name it, and we do it. We demonstrate our gadgets in most briefings and lectures, and no, it is not rocket science. We will teach you from the basics, and it really is easy.</p>
        </div>
        
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Automobile (SAE) Club</h2>
          <p class="lead">Does your heart skip a beat when a Mercedes or an Audi zooms past you? Do you also want to design racing cars and luxury automobiles some day? You’ve come to the right place then. This club teaches you to make remote controlled internal combustion engine cars, which run on nitro fuel (yes, it actually has a miniature internal combustion engine). Apart from that, we also participate in SAE-BAJA efficycle events, and we have also designed a car that holds the record for the best mileage ever.</p>
        </div>
        
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Club of Programmers (COPS)</h2>
          <p class="lead">There are 10 kinds of people in this world: Those who know binary and those who don’t. If coding is your passion, then this is the club for you. We organize contests on HackerRank all year round, and there are lots of prizes and certificates to be won.</p>
        </div>
        
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Green Club</h2>
          <p class="lead">We human beings take away a lot of things from nature, but how much do we give back to it? The basic idea for the Green Club stems from this. If you always had had a green thumb, now is the place to flaunt it. We have organized massive campaigns like the Paper Bag Campaign for Technex ’15, and we do our best to try and make our college a greener place.</p>
        </div>
        
      </div> -->



    </div>

    <!-- intro ends -->
    
    <!-- club circles start -->
  
    
    <hr class="featurette-divider">

    <!-- heads start -->
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4  col-lg-push-1">
    	  <div class="img-wrapper center-block">
    	  	<img class="" src="static/css/images/Shams Ahmed.png" alt="Generic placeholder image" width="140" height="auto">
    	  </div>
          
          <h2>Shams Ahmed</h2>
          <h4>Secretary</h4>
          <p class="lead">first.second@iitbhu.ac.in</p>
          <p class="lead">+91-7233022351</p>
          <!-- <p class="lead"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="img-wrapper center-block">
          	<img class="" src="static/css/images/Yash Khandelwal.png" alt="Generic placeholder image" width="140" height="auto">
      	  </div>
          <h2>Yash Khandelwal</h2>
          <h4>Joint Secretary</h4>
          <p class="lead">first.second@iitbhu.ac.in</p>
          <p class="lead">+91-8874345322</p>
          <!-- <p class="lead"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-lg-pull-1">
       	  <div class="img-wrapper center-block">
            <img class="" src="static/css/images/Ayushi Bansal.png" alt="Generic placeholder image" width="140" height="auto">
          </div>
          <h2>Ayushi Bansal</h2>
          <h4>Joint Secretary</h4>
          <p class="lead">first.second@iitbhu.ac.in</p>
          <p class="lead">+91-8419006803</p>
          <!-- <p class="lead"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div>
    <!-- heads end -->

    <!-- footer starts -->
    <div class="container">
      <footer>
        <p class="pull-right"><small><a href="#">Back to top</a></small></p>
        <p class="lead"><small><a href="#">Science and Technology Council</a>,<a href="http://iitbhu.ac.in">IIT(BHU)</a>,Varanasi</small></p>
      </footer>
    </div>
    <!-- footer ends -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>