<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Astronomy Club</title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Navbar starts -->
    <div class="container" style="z-index: 999999;position: relative;">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SnTC</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-right nav">
              <li><a href="#">IIT(BHU),Varanasi</a></li>
              <li><a href="#">Gymkhana</a></li>
              <li><a href="#">SnTC</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- navbar ends -->

    <!-- Carousel -->
    <div class="wrapper_slider">
      <div class="outer">
        <div class="ontop">
          <div class="mid">
            <h1>Astronomy Club</h1>
            <div id="bar">
                “ If you think Night Sky is dark, then think again, there is <br>always a ray of light even in the darkest corner of the sky”</div>
          </div>
        </div>
      
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="first-slide" src="static/css/images/astro_1.jpg" alt="First slide">
              <div class="container">
                <!-- <div class="carousel-caption">
                  <h1>Example headline.</h1>
                  <p class="lead">Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                  <p class="lead"><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div> -->
              </div>
            </div>
            <div class="item">
              <img class="second-slide" src="static/css/images/astro_2.jpg" alt="Second slide">
              <div class="container">
                <!-- <div class="carousel-caption">
                  <h1>Another example headline.</h1>
                  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  <p class="lead"><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div> -->
              </div>
            </div>
            
          </div>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <!-- carousel ends -->

    



    <!-- intro starts -->
    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">About Us</h2>
          <p class="lead">Astronomy club is more a gathering of like-minded people brought together by the common passion for
astronomy than a formal organisation. Here we organize all sort of amateur astronomical activities and
also regular discussions on the topics of the world and beyond. We organise various theoretical and
observational sessions to bring out the curious astronomer in every person. We also participate in
various activities in different colleges.

        </div>
        
      </div>

      <hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Vision</h2>
          <p class="lead"><p class="lead">When many people picture an astronomer at work, they think of someone huddling in a cold, dark
observatory, squinting through a telescope. Nothing can be a graver understatement. Astronomy is
undoubtedly the vastest field ever possible. From a tiny satellite to super-massive black holes, we
worship them all.</p>
<p class="lead">But for such a vast field, prerequisites are surprisingly tiny. In astronomy club, we ask for only two
things:</p>
<p class="lead">1. Passion for the Unknown: When you look up at the night sky, you see a very particular view
of the Universe. There are stars, planets, supernova, nebulae, and so much more. Each
wavelength tells its own tale of the universe. This is our passion. We just don't look at the stars
for sheer feeling of pleasure and awe, but with hungry eyes, try to find the reason behind it,
listening to all the tales the skies have to tell.</p>
<p class="lead">2. A curious mind: All that is needed is curiosity. Curiosity about what lies beyond the stars, or
how big the universe is and what our place in it is. Are we alone or are we being watched? What
is it that really lies within a black-hole? Why is dark matter invisible or why is anti-matter so
repulsive?</p>
<p class="lead">The mystery that perpetually surrounds us makes us feel alive.
Astronomy Club is a relatively young club with a passionate following. Our vision is to keep on
expanding our reaches to expose the masses to the incredible life of an astronomer and the thrills of it.
</p>
        </div>
        
      </div>

      

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Achievements</h2>
          <ul class="lead">
            <li>Nikhil Khatavkar and Vivek Gupta, Secretary and Joint-Secretary respectively of the club, came in top
five at Inter IIT Technical Meet, 2014, held at IIT Bombay.
</li>
            <li>At Techkriti 2015, IIT Kanpur, Akash Sahu and Gaurav Tomar, the current Secretary and JointSecretary
of the club, got first position in the Observational and Messier Hunt event of the fest.</li>
            <li>And the team of Rajat Sable and Shubham Bhomle were the runners up of the Astro-Quiz event at
Techkriti 2015, IIT Kanpur.</li>
            <li> Our team consisting of 3 members from IIT(BHU) won the Messier Hunt Competition held at LNMIIT,
Jaipur while the other team finished in top 6.
</li>
            <li></li>


          </ul>
        </div>

       <div class="row featurette">
       
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Projects</h2>
          <ul class="lead">
            <li>Club organised a number of workshops discussing various fields of Astronomy. They included
Universe Formation , Dark Matter and Dark Energy, Galaxies and Galaxy formation, Solar System
and Stellar Evolution.
</li>
<li> Club also organised a number of observational workshops guiding the attendees regarding sky
coordinate system and mapping of stars needed for star gazing. The young minds were given insight
into telescope handling.
</li>
<li> <p class="lead">Last year, we also started Astrophotography in our club which involved capturing photographs of
various phenomena and astronomical objects with a camera with or without a telescope. We managed
to capture some beautiful pictures of Star Trail, Moon, Jupiter,Orion Nebula and Pleides. </p>
<p class="lead">The students were also taught how to use different softwares for image stacking and processing. An
event was also introduced in
</p></li>
<li>Another event of Astronomical Case study named The Scientists of Utopia was also introduced in
Technex 16
</li>
          </ul>
        </div>
        
      </div>




      <!--<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Aero-modelling Club</h2>
          <p class="lead">We give wings to your dreams (without Red Bull). Quadcopters, remote controlled planes, water rockets, you name it, and we do it. We demonstrate our gadgets in most briefings and lectures, and no, it is not rocket science. We will teach you from the basics, and it really is easy.</p>
        </div>
        
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Automobile (SAE) Club</h2>
          <p class="lead">Does your heart skip a beat when a Mercedes or an Audi zooms past you? Do you also want to design racing cars and luxury automobiles some day? You’ve come to the right place then. This club teaches you to make remote controlled internal combustion engine cars, which run on nitro fuel (yes, it actually has a miniature internal combustion engine). Apart from that, we also participate in SAE-BAJA efficycle events, and we have also designed a car that holds the record for the best mileage ever.</p>
        </div>
        
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Club of Programmers (COPS)</h2>
          <p class="lead">There are 10 kinds of people in this world: Those who know binary and those who don’t. If coding is your passion, then this is the club for you. We organize contests on HackerRank all year round, and there are lots of prizes and certificates to be won.</p>
        </div>
        
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8 col-md-push-2">
          <h2 class="featurette-heading">Green Club</h2>
          <p class="lead">We human beings take away a lot of things from nature, but how much do we give back to it? The basic idea for the Green Club stems from this. If you always had had a green thumb, now is the place to flaunt it. We have organized massive campaigns like the Paper Bag Campaign for Technex ’15, and we do our best to try and make our college a greener place.</p>
        </div>
        
      </div> -->
    </div>

    <!-- intro ends -->
    
  
    
    <hr class="featurette-divider">

    <!-- heads start -->
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4  col-lg-push-2">
          <img class="img-circle" src="static/css/images/Soumyadeep Das.png" alt="Generic placeholder image" width="140" height="auto">
          <h2>Soumyadeep Das</h2>
          <h4>Secretary</h4>
          <p >soumyadeep.das.phy14@iitbhu.ac.in</p>
          <p >+91-8090842924</p>
          <!-- <p class="lead"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-lg-push-1">
          <img class="img-circle" src="static/css/images/Gaurav Somani.png" alt="Generic placeholder image" width="140" height="auto">
          <h2>Gaurav Somani</h2>
          <h4>Joint Secretary</h4>
          <p >gaurav.somani.met14@iitbhu.ac.in</p>
          <p >+91- 9462877624</p>
          <!-- <p class="lead"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
         <div class="col-lg-4 col-lg-pull-1">
          <img class="img-circle" src="static/css/images/Asmitha M.png" alt="Generic placeholder image" width="140" height="auto">
          <h2>Asmitha M</h2>
          <h4>Joint Secretary</h4>
          <p >asmitha.m.phy15@itbhu.ac.in</p>
          <p >+91-9936294672</p>
          <!--<p class="lead"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div> 
      </div><!-- /.row -->

    </div>
    <!-- heads end -->

    <!-- footer starts -->
    <div class="container">
      <footer>
        <p class="pull-right"><small><a href="#">Back to top</a></small></p>
        <p class="lead"><small><a href="#">Science and Technology Council</a>,<a href="http://iitbhu.ac.in">IIT(BHU)</a>,Varanasi</small></p>
      </footer>
    </div>
    <!-- footer ends -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>